<% form_for(@beta_user) do |f| %>
  <p><%= f.label :email %><br />
     <%= f.text_field :email %></p>
  
  <p><%= f.label :token %><br />
     <%= f.text_field :token %></p>

  <p><%= f.label :status %><br />
     <%= f.select :status, ["pending", "approved", "rejected"].map {|s| [s,s] } %></p>

  <p><%= f.submit "Save" %></p>
<% end %>
